<nav class="navbar navbar-expand-sm stylish-color-light navbar-light" role="navigation">
    <!-- Brand -->
    <div class="align">
        <div>
            <a class="navbar-brand" href="/">
                <h1 class="name">
                    <img src="assets/ibs-logo.PNG" alt="IBS Banglore">

                </h1>
            </a>
        </div>
        <!-- Toggler/collapsibe Button -->
        <!-- <div class="search-container">
            <form class="form-inline my-2 my-lg-0 ">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div> -->

    </div>

</nav>